// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');


// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Partials
@import 'Partials/_variables';
@import 'Partials/_laura_home';
@import 'Partials/_guest';
@import 'Partials/_admin.scss';


// Page settings
body {
    font-family: 'Nunito', sans-serif;
    background-color: #dfdbe5;
    background-image: url('Partials/img/wiggle.svg');
}

.navbar {
    opacity: 0.8;
}