#admin-index-wrapper {

    .card {
        margin-bottom: 40px;
    }

    #create-new {
        text-align: right;
        margin-bottom: 20px;
    }

    form {
        display: inline-block;
    }

}

#admin-show-wrapper {
    text-align: center;
    margin-top: 30px;

    #actions {
        text-align: right;
    }

    img {
        margin-bottom: 20px;
    }

    form {
        display: inline-block;
    }

}
