#admin-show-wrapper {
    text-align: center;

    #actions {
        text-align: right;
    }
}

#admin-index-wrapper {

    #create-new {
        text-align: right;
        margin-bottom: 20px;
    }
}