#laura-home-wrapper {
    margin-top: 100px;
    text-align: center;

    h1 {
        font-size: 80px;
    }

    a {
        text-decoration: none;
        font-size: 30px;
    }

    
    #create-new {
        position: absolute;
        top: 80px;
        right: 100px;

        a {
            font-size: 20px;
        }
    }
}